langgraph
langchain
langchain-core
langchain-groq
langchain-community
langchain-mcp-adapters
langchain-text-splitters
langchain-huggingface
sentence-transformers
dotenv
streamlit
langsmith
ddgs
fastmcp
pypdf
faiss-cpu
torchvision